<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><% title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1 class="page-heading">Challenge 2 - Web Scraping with User Input</h1>
        <form id="inputForm" method="post" action="/submit-input">
            <label class="input-label" for="userInput">Enter an Item to search for:</label>
            <input class="input" type="text" id="userInput" name="userInput" required>
            <button type="submit">Submit</button>
        </form>
        <div class="items-container">
            <ul class="products-list">
                <% if (products.length > 0) { %>
                    <% products.forEach(product => { %>
                        <li class="product-item">
                            <h2 class="product-title"><%= product.title %></h2>
                            <% if(product.price == NaN || product.price == 0) { %>
                                <p class="product-price">This product is not available/out of stock</p>
                            <% } else { %>
                                <p class="product-price">Price: £<%= product.price %></p>
                            <% } %>
                            <img class="product-image" src="<%= product.image %>"/>
                        </li>
                    <% }); %>
                <% } else { %>
                    <p class="no-products">No products available.</p>
                <% } %>
            </ul>
        </div>
    </body>
</html>